.showOnlyInMobile{
    display:block !important;
}
.buttonIcons{
    display:flex;
    height:100%;
    justify-content:center !important;
    align-items:center !important;
}

@media (max-width: 576px){
    .showOnlyInMobile{
        display:none !important;
    }   
}

@media (min-width: 576px) and (max-width: 767px) {
    .showOnlyInMobile{
        display:none !important;
    } 
}
  